/* フォント指定 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400); 

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
font-family: "FontAwesome", sans-serif;
} 

/* 全体に対するデザイン */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* bodyのデザイン */
body {
  background: #e9e9e9;
  color: #5e5e5e;
  font: 400 87.5%/1.5em "Open Sans", sans-serif;
}

/* h1のデザイン */
h1 {
  text-align: center;
  padding: 1em 0;
}

/* formのデザイン */
form {
  padding: 0 1.5em;
}
